<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/main/main.css">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <div class="main_box">
            <h1><a href=""><img src="../public/img/applicationsfeatured_93757.png" alt=""></a></h1>
            <ul class="item_list">
                <li><button onclick="location.href='http://localhost:4000/todo'">Todo List</button>
                <li><button onclick="location.href='http://localhost:4001/chat'">Chat</button>
                <li><button onclick="location.href='http://localhost:4000/game'">Game</button>
            </ul>
        </div>
    </div>
</body>
</html>