*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background-image: linear-gradient(0deg, rgba(247,247,247,1) 23%, rgba(252,221,221,1) 92%);
    height: 100vh;
    overflow: hidden;
}
#wrap{
    .main_box{
        width: 400px;
        height: 500px;
        background: white;
        margin:  auto;
        padding: 20px;
        box-shadow: 0 20px 20px 0 rgba(255,169,169,.6);
        border-radius: 2%;
        margin-top: 200px;
        h1{
            text-align: center;
            a{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .item_list{
            list-style: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            height: 200px;
            padding: 20px 0;
            li{
                button{
                    width: 200px;
                    margin: 30px 0;
                    border: none;
                    background: linear-gradient(to bottom, rgb(197, 153, 247) 0%, rgba(197, 153, 247) 100%);
                    border-radius: 5px;
                    color: white;
                    font-size: 2rem;
                    cursor: pointer;
                    padding: 5px 0;
                    transition: all 0.3s ease;
                    &:hover{
                        color: black;
                    box-shadow:
                    -7px -7px 20px 0px #fff9,
                    -4px -4px 5px 0px #fff9,
                    7px 7px 20px 0px #0002,
                    4px 4px 5px 0px #0001;
                    }
                }
                
            }
        }
    }
}