<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/chat/chat.css">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <h1><a href="/"><img src="../public/img/applicationsfeatured_93757.png" alt=""></a></h1>
        <div class="chat_box">
            <div class="user_box">
                <p class="user_tite">닉네임</p>
                <ul class="users">
                    
                    
                </ul>
            </div>
            <div class="chat_box_list">
                <ul class="messages">
                    
                    
                </ul>
                <form action="" class="form_box">
                    <input type="text" id="msg" placeholder="메세지를 입력하세요" autocomplete="off">
                    <button type="subnit" class="msg_btn">입력</button>
                </form>
            </div>
        </div>
        
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="../public/js/chat.js"></script>
</body>
</html>

